<article *ngFor="let comment of comments" class="comment post-large" >
    <div class=" post-comments ">
 
        <ul class="comments">
            <li>
                <div class="comment">
                    <div class="img-thumbnail">
                        <img class="avatar" alt="" src="assets/img/avatar-2.jpg">
                    </div>
                    <div class="comment-block">
                        <div class="comment-arrow"></div>
                        <span class="comment-by">
                            <strong>{{comment.name_comment}}</strong>                        
                            <span class="pull-right">
                                <span> <a href="#"><i class="fa fa-reply"></i> Reply</a></span>
                            </span>
                        </span>
                        <p>{{comment.comment_comment}}</p>
                        <span class="date pull-right">{{comment.day_comment}} {{comment.month_comment}}</span>
                    </div>
                </div>
    
                
            </li>
        </ul>
    
    </div>
    </article>